In [1]:

import numpy as np
import pandas as pd
import os
%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from tqdm.notebook import tqdm
from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, cross_val_score, RepeatedStratifiedKFold
from sklearn import metrics
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

file = "features.csv"

/home/ashutosh/miniconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/ashutosh/miniconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df = pd.read_csv(file)
df.head()

,Package Type,Start City,Flight Stops,Meals,Cancellation Rules,Per Person Price,destination_count,airlines_count,sightseeing_count,hotel_details_count,...,hotel_details_5,hotel_details_6,hotel_details_7,hotel_details_8,hotel_details_9,airline_0,airline_1,airline_2,airline_3,airline_4
0,4,0,2,3,5,11509.0,4,1,1,1,...,-0.039558,0.019652,0.040120,-0.025588,-0.050787,37,37,37,37,35
1,3,1,0,5,0,22485.5,3,2,7,3,...,0.053369,-0.053520,-0.072833,-0.004605,-0.029997,37,37,37,26,26
2,2,1,0,4,0,12421.5,2,1,8,2,...,-0.081949,-0.014153,0.003743,-0.041751,-0.010722,37,37,37,37,26
3,3,1,0,5,0,35967.0,4,1,9,4,...,-0.023896,-0.039435,-0.049032,-0.003044,0.015540,37,37,37,37,26
4,3,1,0,5,0,25584.0,2,2,2,2,...,-0.026403,0.053176,0.057773,-0.039582,0.074453,37,37,37,47,24